<div class="img_container">

  <img class="poster" src="<%=@poster%>">

</div>  


<div class="txt_container">

  <div class="title">
    <%=@title%>
  </div>

  <div class="year">
    <%=@year%>
  </div>

  <div class="genre">
    <%=@genre%>
  </div>

  <div class="plot">
    <%=@plot%>
  </div>

  <div class="actors">
    <%=@actors%>
  </div>

</div>  


